<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter Callback</title>
    <script type="text/javascript">
        var token = '<%=token%>'; 
        var verifier = '<%=verifier%>'; 
    </script>
    <script type="text/javascript" src="/assets/js/twitter-callback.js"></script>
</head>
<body onload="load()"></body>
</html>